.feature {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2rem auto;
    align-items: center;
    padding: 2rem;
    padding-left: 5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 1px 1px 5px 2px #dcd4d4;
    box-shadow: 1px 1px 5px 2px #dcd4d4;

    &__text {
        flex: 0 0 40%;
        margin-right: auto;
        padding-right: 3rem;
        h3 {
            color: $neutralColorDark;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
        }
        p {
            color: #959698;
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
    }
    &__img {
        margin-right: auto;
        img {
            height: 20rem;
        }
    }
}
